.wishlist-item {
    margin: 2rem 0;
    width:100%;
    display: flex;
    align-items: center;
    height: 10rem;
}
.wishlist-item>img {
    height:100%;
    width: auto;
    margin-right: 2rem;
}

.wishlist-details {
    display: flex;
    flex-direction: column;
}

.wish--btn {
    margin: 0 2rem;
    width: 7rem;
    display: flex;
    justify-content: space-evenly;
}