.product-card {
    margin:2rem;
    min-width: 15rem;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-card>img {
    width:15rem;
}

.product-card .card-btn {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.badge{
    position: absolute;
    background-color: #D97706;
    padding: 0 0.5rem;
    border-radius: 2rem 0 0 2rem;
    top: 4px;
    right: 0;
}

.search--bar{
    margin-top: 5rem;
}

.search--bar>input {
    border: 1px solid black;
    min-width: 30rem;
    padding: 0 1rem;
    border-radius: 2rem;
    text-align: center;
    height: 3rem;
}

.modal--products {
    top:12rem;
    right:0;
}
@media screen and (max-width: 760px) {
    .search--bar>input {
        min-width: 15rem;
        max-width: 15rem;
    }
    .search--bar{
        margin-top: 1rem;
    }
}