.product-grid {
    display:grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
  }

  .products {
      width: 100%;
  }

  .sort {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .select-sort {
      border: 1px solid #D97706;
      padding: 0 1rem;
      height: 2rem;
  }

  .select-sort label {
      padding: 0 1rem;
  }
  fieldset {
      margin:1rem;
  }
  fieldset label {
      margin:0.5rem;
  }