.product-grid {
    display:grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
  }

  .products {
      width: 100%;
  }

  .sort {
      border: 1px solid black;
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
  }

  fieldset {
      margin:1rem;
  }
  fieldset label {
      margin:0.5rem;
  }