
.header-body {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top:5rem;
    height: 30rem;
}

.slide {
    box-sizing: border-box;
    position: relative;
    animation-name: fade-in;
    animation-duration: 1.5s;
}
@keyframes fade-in {
    from {right: -20%;
          opacity: 0;}
    to {right: 0%;
        opacity: 1;}
}

.hide {
    display: none;
}

.slide>img {
    width: 99%;
    border-radius: 1rem;
}

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
  }
  
  .next {
    right:0;
  }

  .prev {
      left:0;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0.5rem 1rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #D97706;
  }

  @media only screen and (max-width: 760px) {
    .prev, .next {
        font-size: x-small;
    }
    .dot {
        height: 0.6rem;
        width: 0.6rem;
    }
    .header-body {
      margin-top: 0rem;
      width: 98%;
      height: 10rem;
    }

  }
  @media only screen and (min-width: 760px) and (max-width: 1000px){

    .header-body {
      margin-top: 4rem;
    }

  }
  